:root {
    --blugray: #85a5bd;
    --darkbrown: #652f10;
    --lightbrown: #d87929;
    --holopurple: #881641;
    --beutyblue: #2c3895;
    --intpurple: #e51666;
    --wgreen: #149449;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: var(--blugray);
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
}

footer {
    background-color: var(--blugray);
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    font-weight: bold;
}

section {
    margin: 10px 5px 10px 5px ;
    padding: 5px;
}

p, input, button, label {
    margin: 5px;
    padding: 5px;
}

.error {
    color: var(--intpurple);
}

.letters {
    font-size: 16px;
    border: 1px solid #ffffff;
}

.none {
    display: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid2c {
    display: grid;
    grid-template-columns: min-content auto;
}

.grid3c {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid2ca {
    display: grid;
    grid-template-columns: auto auto;
}


.marginl10 {
    margin-left: 10px;
}

.borderblue {
    border: 3px solid var(--beutyblue);
    padding: 2px;
    border-radius: 10px;
}

.borderbrown {
    border: 3px solid var(--darkbrown);
    padding: 2px;
    border-radius: 10px;
}

.borderbluegray {
    border-left: 33px solid var(--blugray);
}

.borderbeutyblue {
    border-left: 33px solid var(--beutyblue);
}

.borderlightbrown {
    border-left: 33px solid var(--lightbrown);
}

.borderdarkbrown {
    border-left: 33px solid var(--darkbrown);
}

.borderholopurple {
    border-left: 33px solid var(--holopurple);
}

.maxwidth {
    max-width: 100%;
    height: auto;
}

.maxwidth50 {
    max-width: 50%;
    height: auto;
}


.textcenter {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.colorbeutyblue {
    color: var(--beutyblue);
}

.fontsize25 {
    font-size: 25px;
}